<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Linkedin</title>
</head>

<body>
  <header class="linkedin-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <a href=" ">
            <img src="../assets/images/linkedin-icon-svgrepo-com.svg" alt="logo" class="logo">
          </a>

          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" class="search-icon">search</mat-icon> -->

          <mat-form-field class="search">
            <img src="../assets/images/search-svgrepo-com.svg" alt="search" class="search-icon">
            <input matInput type="text" placeholder="Search" name="search" class="searchbar">
          </mat-form-field>
        </div>

        <div class="col-lg-5 icons">

          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home
              <h5>Home</h5>
            </mat-icon>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">people
              <h5>My Network</h5>
            </mat-icon>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">work
              <h5>Jobs</h5>
            </mat-icon>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">textsms
              <h5>Messaging</h5>
            </mat-icon>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">notifications
              <h5>Notifications</h5>
            </mat-icon>
          </div>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">account_circle
              <h5>User</h5>
            </mat-icon>
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-darrow">arrow_drop_down</mat-icon> -->
          </div>

          <div class="vl"></div>

          <div class="col-lg-3">

            <div>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-work">apps
                <h5>Work</h5>
              </mat-icon>
              <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-darrow">arrow_drop_down</mat-icon> -->
            </div>

            <div class="text">
              <p>
                Try Premium for free
              </p>
            </div>

          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="rectangle">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="user-icon">account_circle</mat-icon>
            <input matInput type="text" placeholder="Start a post" name="post" class="post-input">
            <ul>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="input-icon">image</mat-icon>
              <span>Photo</span>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="input-icon">smart_display</mat-icon>
              <span>Video</span>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="input-icon">event</mat-icon>
              <span>Event</span>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="input-icon">newspaper</mat-icon>
              <span>Write Article</span>
            </ul>
            
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-5">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <h2>Terralogic Inc.</h2>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="dot-icon">more_horiz</mat-icon>
              <h4>24,683 followers</h4>
              <h6>1w <mat-icon aria-hidden="false" aria-label="Example  icon" class="globe-icon">public</mat-icon>
              </h6>

            </mat-card-header>
            <mat-card-content>
              <p>Most business owners have the ambition to grow their companies bigger and stronger.</p>
            </mat-card-content>
            <img mat-card-image src="../assets/images/linkedin 2.jpeg" alt="post1">

            <h3>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-icon">thumb_up</mat-icon>
              
              1,23,456 and others
            
            </h3>
            <hr>

            <mat-card-actions>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-up-icon">thumb_up_off_alt</mat-icon><span>Like</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="comment-icon">comment</mat-icon><span>Comment</span></button> 
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="share-icon">reply</mat-icon><span>Share</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="send-icon">send</mat-icon><span>Send</span></button>
            </mat-card-actions>
          </mat-card>

        </div>
      
      </div>

      <div class="row">
        <div class="col-lg-5">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <h2>Thao Phung hi </h2>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="dot-icon">more_horiz</mat-icon>
              <h4>14,683 followers</h4>
              <h6>1w <mat-icon aria-hidden="false" aria-label="Example  icon" class="globe-icon">public</mat-icon>
              </h6>

            </mat-card-header>
            <mat-card-content>
              <p>Hello Everyone...Most business owners have the ambition to grow their companies bigger and stronger.</p>
            </mat-card-content>
            <img mat-card-image src="../assets/images/linkedin post2.jpeg" alt="post2">

            <h3>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-icon">thumb_up</mat-icon>
              
              25,456 and others
            
            </h3>
            <hr>

            <mat-card-actions>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-up-icon">thumb_up_off_alt</mat-icon><span>Like</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="comment-icon">comment</mat-icon><span>Comment</span></button> 
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="share-icon">reply</mat-icon><span>Share</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="send-icon">send</mat-icon><span>Send</span></button>
            </mat-card-actions>
          </mat-card>

        </div>
      
      </div>

      <div class="row">
        <div class="col-lg-5">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <h2>Kelly Millar Jr</h2>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="dot-icon">more_horiz</mat-icon>
              <h4>20,683 followers</h4>
              <h6>1w <mat-icon aria-hidden="false" aria-label="Example  icon" class="globe-icon">public</mat-icon>
              </h6>

            </mat-card-header>
            <mat-card-content>
              <p>There's a difference between doing something we don't really care about and doing something we love.</p>
            </mat-card-content>
            <img mat-card-image src="../assets/images/linkedin post 3.jpeg" alt="post3">

            <h3>
              <mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-icon">thumb_up</mat-icon>
              
              32,456 and others
            
            </h3>
            <hr>

            <mat-card-actions>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="thumb-up-icon">thumb_up_off_alt</mat-icon><span>Like</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="comment-icon">comment</mat-icon><span>Comment</span></button> 
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="share-icon">reply</mat-icon><span>Share</span></button>
              <button mat-button><mat-icon aria-hidden="false" aria-label="Example  icon" class="send-icon">send</mat-icon><span>Send</span></button>
            </mat-card-actions>
          </mat-card>

        </div>
      
      </div>

    </div>
  </header>
</body>

</html>