body {
    background: #fafafa;
    height: 400%;
}

.linkedin-header {
    height: 53px;
    background: #ffffff;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.logo {
    width: 34px;
    height: 34px;
    margin: -31px 0px -19px 105px;

}

/* .search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

} */
.search-icon {
    width: 14px;
    height: 14px !important;
    margin: -10px -37px 0px 23px !important;

}

.searchbar {
    /* border: none;
    box-shadow: none;
    width: 100%;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    background-color: var(--voyager-color-background);
    border-radius: var(--corner-radius-small);
    color: var(--color-text-active);
    padding: 0px 8px 0px 40px;
    margin: 0px 0px 0px 0px; */
    /* height: 34px;
    width: 250px;
    margin: -50px 0px 0px 50px; */
    width: 280px !important;
    height: 34px;
    padding: 4px 0px 0px 40px;
    margin: -32px 0px -2px 7px;
    float: left;
    border-radius: 4px;
    background: rgba(var(--bb2, 239, 239, 239), 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: 0;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    border: none;
    font-family: system-ui;
    font-weight: 400;
}

.icons {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    gap: 55px;
    margin: 5px -718px 0px 150px;
    /* text-align: center !important; */
    cursor: pointer;
}

.vl {
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    height: 51px;
    margin: -5px 0px 0px -27px;
}

.icon-work {
    margin: 0px 0px 0px -27px;
}

.icon-darrow {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.text {
    font-size: 12px;
    font-weight: 300;
    color: rgb(78, 46, 3);
    margin: -40px 0px 0px 50px;
}
.box{
    width: 225px;
    height: 333px;
    margin: 6px 0px -353px 96px;
    border-radius: 8px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    background: #ffffff;
}
.user-avatar{
    width: 72px !important;
    height: 72px !important;
    margin: 36px -170px 0px 98px;
}
.inbox-line{
    margin: -52px 0px 0px 0px;
}
.name{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin: 53px 0px -80px 74px;
    opacity: 0.9;
}
.designation{
    margin: 82px 0px -106px 78px;
    font-size: 12px;
    opacity: 0.8;

}
.inbox-line2{
    margin: 123px 0px -124px 0px; 
}
.connections{
    font-size: 12px;
    opacity: 0.8;
    margin: 136px 0px -154px 13px;
}
.count{
    font-size: 13px;
    font-weight: 420;
    color: blue;
    margin: 135px 0px -155px 192px;
}
.grow{
    font-size: 13px;
    opacity: 0.9;
    font-weight: 500;
    margin: 152px 0px -171px 13px;
}
.inbox-line3{
    margin: 183px 0px -184px 0px; 
}
.access{
    margin: 198px 0px -216px 13px;
    font-size: 12px;
    opacity: 0.8;
}
.premium{
    font-size: 13px;
    opacity: 0.9;
    font-weight: 500;
    margin: 214px 0px -234px 32px;
}
.inbox-line4{
    margin: 240px 0px -241px 0px; 
}
.bookmark{
    width: 15px !important;
    height: 15px !important;
    margin: 250px 0px -265px 11px;
}
.my-items{
    font-size: 13px;
    opacity: 0.9;
    font-weight: 500;
    margin: -28px 0px 9px 40px;
}
.rightside-box{
    width: 315px;
    height: 322px;
    margin: 6px 0px -328px 20px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 8px;
    background: #ffffff;
}
.linkedin-news{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    opacity: 0.9;
    margin: 10px 0px -38px 14px;
}
.info-icon{
    margin: 0px 0px 0px 0px;
    width: 15px !important;
    height: 15px !important;
    opacity: 0.9;
    margin: 14px 0px -29px 278px;
}
li{
    font-size: 14px;
    font-weight: 550;
    opacity: 0.9;
    padding: 6px 0px 24px 16px;
}
.news1{
    font-size: 12px;
    font-weight: 350;
    margin: 0px 0px -21px 18px;
}
.news2{
    font-size: 12px;
    font-weight: 350;
    margin: 0px 0px -21px 18px;
}
.news3{
    font-size: 12px;
    font-weight: 350;
    margin: 0px 0px -21px 18px;
}
.news4{
    font-size: 12px;
    font-weight: 350;
    margin: 0px 0px -21px 18px;
}
.news5{
    font-size: 12px;
    font-weight: 350;
    margin: 0px 0px -21px 18px;
}
.show-more{
    font-size: 14px;
    font-weight: 550;
    opacity: 0.7;
    margin: 4px 0px -25px 32px;
}
.showmore-icon{
    margin: 3px 0px -27px 104px;
    opacity: 0.7;
}
.rectangle {
    width: 540px;
    height: 116px;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    margin: 6px 0px 0px 9px;
    border-radius: 8px;
    background: #ffffff;
}

.user-icon {
    height: 24px !important;
    width: 24px !important;
    margin: 20px 0px 0px 20px !important;
}

.post-input {
    width: 452px;
    height: 48px;
    border-radius: 28px;
    border: 1px solid rgba(var(--b6a, 160, 160, 160), 1);
    margin: 12px 0px 0px 16px;
    padding: 0px 0px 0px 16px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
.post-icons{
    margin:15px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 35px;
}
.iconone{
    display: flex;
}
.photo-icon{
    /* margin: 15px 0px 0px 20px !important; */
    padding: 0px 0px 0px 0px;
    opacity: 0.8;
}
.photo-text{
    /* margin: 15px 0px 0px 0px !important; */
    padding: 5px 25px 0px 5px;
    font-size: 14px;
    font-weight: 410;
    
    opacity: 0.7;
}
/* .input-icon1 { */
    /* opacity: 0.8;
    margin: 13px 0px -39px -8px;
}
.input-icon2 {
    opacity: 0.8;
    margin: 13px 0px -39px -8px;
} */
/* ul .input-icon {
    margin: 12px 81px -35px 12px;
    opacity: 0.8;
    gap: 20px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.icon-text {
    margin: -29px 0px 0px 29px;
    font-size: 14px;
    font-weight: 410;
    opacity: 0.7;

} */
/* .icon-text2 {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: 410;
    opacity: 0.7;

} */

/* hr{
    margin: 30px 0px 0px 0px;
} */
.example-card {
    width: 540px;
    height: 785px;
    margin: 16px 0px 0px 350px;
}

.mat-card-image {
    width: calc(100% +32px);
    margin: 0px -9px 0px -16px;
    display: block;
    overflow: hidden;
}

h2 {
    font-size: 14px;
    font-weight: 500;
}

.dot-icon {
    margin: 0px 0px 0px 320px;
}

h4 {
    margin: 23px 0px 0px -432px;
    font-size: 13px;
    font-weight: 400;
}

h6 {
    margin: 40px 0px 0px -95px;
    font-size: 13px;
    font-weight: 400;
}

/* mat-icon .globe-icon{
    height: 17px;
    width: 17px;
} */
.example-header-image {
    background-image: url('../assets/images/TL logo.jpeg');
    background-size: cover;
}

h3 {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    margin: 8px 0px 0px 0px;
}

hr {
    margin: 0px 0px 0px 0px;
}

mat-card-actions {
    margin: 0px 0px 0px 0px;

}

mat-card-actions .mat-button {
    margin: 3px 14px -39px 25px;
}

.example-header-image2 {
    background-image: url('../assets/images/user 2.jpeg');
    background-size: cover;
}

h4 {
    margin: 23px 0px 0px -432px;
    font-size: 13px;
    font-weight: 400;
}

h6 {
    margin: 40px 0px 0px -95px;
    font-size: 13px;
    font-weight: 400;
}

.example-header-image3 {
    background-image: url('../assets/images/user 3.jpeg');
    background-size: cover;
}